/* Layout.css */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.TopNavSection {
  flex-shrink: 0;
  background-color: #f8f9fa; 
}

.BodySection {
  flex: 1;
  padding-top: 18%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;

  background-color: #ffffff; 
}

.FooterSection {
  flex-shrink: 0;
 
}
